body {
  background-color: mintcream;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #86c4ba;
  border-width: 6px;
  width: 10%;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
